p {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  margin: 20px;
  text-align: justify;
}

#logo {
  line-height: 11px;
  font-size: 11px;
}

.top-nav {
  color: #00ff41;
  /* have a hover-over color  hover: ; */
  font-family: sans-serif;
  font-size: 16px;
  flex-direction: row;
  justify-content: center;
  left: 0;
  padding: 0.75rem 1rem 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
}

.top-nav-center {
  text-align: center;
}

.wrapper {
  text-align: center;
}

.links {
  border: 1px solid #00ff41;
  border-radius: 1rem;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  color: #00ff41;
  margin-bottom: 1.5rem;
  padding: 0.75rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 512px;
}
